Ritrovami/app/libs
Ritrovami/app/app.iml
Ritrovami/app/build.gradle
Ritrovami/app/proguard-rules.pro
Ritrovami/gradle/
Ritrovami/build.gradle
Ritrovami/gradle.properties
Ritrovami/gradlew
Ritrovami/gradlew.bat
Ritrovami/local.properties
Ritrovami/Ritrovami.iml
Ritrovami/settings.gradle
Ritrovami/.idea